.button {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    padding: 1em;
}

@each $name, $colors in $palettes {
   
    $base: map-get($colors, 'base');

    .button--#{$name} {
        background: $base;

        &:hover {
            background: darken($base, 5%);
        }
    }
}

@each $size, $value in $buttons {
    .button--#{$size} {
        font-size: em($value);
    }
}