// *,
// *:before,
// *:after {
//     @include box-sizing(border-box);
// }

html, body {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'open sans', helvetica, arial, sans-serif;
}

a {
    color: palette(primary);
    text-decoration: none;
    border-bottom: 1px solid palette(primary);

    &:hover {
        color: palette(primary, dark);
        border-color: palette(primary, dark);
    }
}