.global-header {
  background: $brand-primary;
  @include clearfix();

  @include media($medium) {
    width: 100%;
    height: auto;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
  }
}

.header-item {
  display: block;
  transition: color 0.2s;
  padding: 20px;
}

.brand {
  color: $black;
  float: left;

  @include media($medium) {
    color: $brand-primary-dark;
  }
}

.hamburger {
  float: right;
  color: $black;
  cursor: pointer;
  transition: background 0.2s;

  @include media($medium) {
    display: none;
  }
}

.global-nav {
  background: $gray-dark;
  max-height: 0;
  margin-top: 62px;
  transition: max-height 0.2s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transform: translate3d(0, 0, 0);
  overflow: hidden;

  @include media($medium) {
    float: right;
    margin-top: 0;
    display: block;
    background: none;
    max-height: 100%;
  }

  a {
    display: block;
    font-size: 36px;
    color: $gray-light;
    text-align: center;

    &:hover {
      color: $white;
    }

    @include media($medium) {
      display: inline-block;
      font-size: 16px;
    }
  }
}

.menu-handler {
  display: none;

  &:checked ~ {
    #menu {
      max-height: 500px;
      // display: block;
    }

    .hamburger {
      background: $gray-dark;
      color: $white;
    }
  }
}
