.bg-light {
  background: $white;
}

.bg-gray {
  background: $gray;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-primary {
  background: $brand-primary;
}
