.btn {
  display: block;
  width: 100%;

  font-size: 14px;
  // @include spacecase();
  text-align: center;
  border: 4px solid transparent;
  border-radius: 0;
  padding: 1em 2em;
  transition: 0.2s;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 10px 0;

  @include media($small) {
    display: inline-block;
    width: auto;
    margin: auto;
  }
}

.btn-primary {
  color: $white;
  background: $brand-primary;
  // border-color: $brand-primary;

  &:hover {
    color: $white;
    background: $brand-primary-dark;
  }

  &.btn-outline {
    background: none;
    color: $brand-primary;

    &:hover {
      background: $brand-primary;
      color: $white;
    }
  }
}

.btn-secondary {
  color: $black;
  background: 0;
  border-color: $brand-secondary-dark;

  &:hover {
    background: $brand-secondary-dark;
  }

  &.btn-outline {
    background: none;
    color: $brand-primary;

    &:hover {
      background: $brand-primary;
      color: $white;
    }
  }
}
