/* btns */

.btn {
  display: inline-block;
  background: $red;
  color: $white;
  padding: $space3 $space5;
  text-align: center;
  font-family: $font-serif;
  border: 0;
  cursor: pointer;
}

.btn--alt {
  background: transparent;
  color: $red;
  border-bottom: 4px solid $red;
}
