/* btns */

@mixin hover-fill($bg, $color) {
  position: relative;
  overflow: hidden;
  transition: color 0.2s;

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 100%;
    left: 0;
    width: 100%;
    transition: top 0.2s;
    background: $bg;
    z-index: 1;
  }

  &:focus,
  &:hover {
    color: $color;
    &:after {
      top: 0;
    }
  }
}

.btn {
  display: inline-block;
  background: $primary;
  color: $black;
  padding: $space3 $space5;
  text-align: center;
  font-family: $font-sans;
  font-weight: $font-semibold;
  font-size: $f2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 0;
  // cursor: pointer;

  > span {
    position: relative;
    z-index: 2;
  }

  @include hover-fill($black, $white);
}

.btn--alt {
  background: transparent;
  color: $black;
  border: 1px solid $black;
  @include hover-fill($primary, $black);
}

.btn--sm {
  font-size: $f2;
  padding: $space2 $space3;
}
