.cursor-none {
  cursor: none;

  .cursor {
    display: block;
  }
}

a,
button {
  cursor: none;
}

.cursor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  border: 1px solid black;
  transform: rotate(45deg);
  width: 32px;
  height: 32px;
  transition: transform 0.2s, background 0.2s;
  z-index: 9999;
  pointer-events: none;

  &:after {
    content: '';
    display: block;
  }
}

.cursor--hovering {
  background: black;
  transform: rotate(45deg) scale(1.3);
}
