/* footer */

.footer {
  border-top: 8px solid $gray-light;
  padding-top: $space5;
  padding-bottom: $space5;
  margin-top: $space5;
  font-size: $f4;
  color: $gray;

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
