/* forms */

.label {
  display: block;
  font-weight: $font-semibold;
  font-size: $f3;
  margin-bottom: $space2;
}

.form-item {
  margin-bottom: $space4;
}

.text-input {
  padding: $space3;
  width: 100%;
  display: block;
  appearance: none;
  background: $gray-light;
  font-size: $f4;
  border: 1px solid transparent;
}

.contact-form {
  @include media(md) {
    display: grid;
    grid-template-areas: 'name email' 'msg msg' 'btn btn';
    grid-gap: $space5;
  }
}

.form-item--name {
  grid-area: name;
}

.form-item--email {
  grid-area: email;
}

.form-item--message {
  grid-area: msg;
}

.form-item--btn {
  grid-area: btn;
}
