/* site header */
.header {
  // position: sticky;
  // top: 0;
  // background: $white;
  // border-bottom: 1px solid $gray-light;
  // z-index: 99;

  @include media(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  text-transform: uppercase;
  letter-spacing: $tracking-wide;
  font-size: $f2;
  line-height: $lh-solid;
  font-weight: $font-bold;
}

/* site nav */

.nav {
}

.nav-list {
  display: flex;
}

.nav-item {
}

.nav-link {
  display: block;
  padding: $space3;
  text-transform: uppercase;
  font-weight: $font-semibold;
  font-size: $f2;
  letter-spacing: 0.1em;
}
