/* hero */

.hero {
  padding-top: $space6;
  padding-bottom: $space6;

  @include media(md) {
    padding-top: $space9;
    padding-bottom: $space9;
    display: flex;
    justify-content: center;
  }
}

.hero-body {
  // max-width: 50rem;
  @include media(md) {
    width: calc(100% / 2 - #{$gutter});
    // margin-left: calc(1 / 12 * 100%);
  }
}

.hero-figure {
  margin-bottom: $space4;
}

.hero-avatar {
  border-radius: 100px;
  overflow: hidden;
  filter: grayscale(100%);
}

.hero-title {
  font-size: $f6;
  margin-bottom: $space2;
  @include media(md) {
    font-size: $f7;
  }
}

.hero-text {
  font-size: $f4;

  @include media(lg) {
    font-size: $f5;
  }
}

.hero-btns {
  margin-top: $space5;
  @include media(md) {
    display: flex;
    align-items: center;
  }
}

.hero-btn {
  display: block;
  width: 100%;

  @include media(md) {
    display: inline-block;
    width: auto;
  }
}

.hero-or {
  padding: $space2 $space5;
  font-family: $font-serif;
  font-style: italic;
  text-align: center;
}
