/* pagehead */

.pagehead {
  padding-top: $space6;
  padding-bottom: $space6;
}

.pagehead-title {
  font-size: $f7;
  position: relative;
  letter-spacing: $tracking-narrow;
  flex: 1;

  @include media(md) {
    font-size: $f8;
  }
}

.pagehead-text {
  max-width: 40rem;
  font-size: $f4;
  flex: 1;
  margin-left: $space5;

  @include media(md) {
    font-size: $f5;
  }
}

.pagehead-content {
  display: flex;
}
