.page-actions {
  margin-top: $space9;

  @include media(lg) {
    display: grid;
    grid-gap: $space6;
    grid-template-columns: 1fr 1fr;
  }
}

.page-actions-link {
  display: block;
  padding: $space5;
  flex: 1;
  width: 100%;
  background: $primary;
  transition: background 0.2s, color 0.2s;
  margin-bottom: $space3;

  &:hover,
  &:focus {
    color: $white;
    background: $black;
  }
}

.page-actions-item {
}

.page-actions-title {
  font-size: $f5;
}

.page-actions-text {
  font-size: $f4;
  margin-bottom: 0;
}
