.section {
  // margin-top: $space8;
  margin-bottom: $space8;
}

.section-header {
  // padding-top: $space4;
  padding-bottom: $space6;
  // border-top: 4px solid $black;
}

.section-title {
  font-size: $f6;
  font-family: $font-sans;
  letter-spacing: $tracking-narrow;
  font-weight: $font-bold;
  margin-bottom: $space2;
}

.section-text {
  font-size: $f4;
  max-width: 40rem;
}

.section-body {
  margin-bottom: $space5;
}

.section-footer {
  text-align: center;
}
