/* social */

.social-list {
  @include media(md) {
    display: flex;
  }
}

.social-item {
  margin-right: $space5;
  margin-bottom: $space5;
  flex: 1;
}

.social-link {
  display: block;
  font-size: $f5;
  padding-bottom: $space3;
  color: $red;
  font-family: $font-serif;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 3rem;
    height: $space1;
    background: $red;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.4s;
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;
    }
  }
}
