%clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

%ease {
    transition: all .1s ease-in-out;
}

%spacecase {
    text-transform: uppercase;
    letter-spacing: .1em;
}