// Media sizes
$small: 400px;
$medium: 600px;
$large: 700px;

// Fonts
$font-family-sans-serif: montserrat, 'helvetica neue', helvetica, sans-serif;
$font-family-serif: cardo, georgia, 'times new roman', serif;

// Colors
$brand-primary: #7CEED7;
$brand-primary-dark: #60B9A7;

$white: #fff;

$gray-base: #000;
$gray-lighter: #F3F3F3;
$gray-light: #B9B9B9;
$gray: lighten($gray-base, 10%);
$gray-dark: #2E2E2E;
$gray-darker: darken($gray, 50%);

$skills: (
    (
        "name": "html",
        "color": #e3544d,
        "level": 100%
    ),
    (
        "name": "css",
        "color": #468bd3,
        "level": 100%
    ),
    (
        "name": "sass",
        "color": #d685cf,
        "level": 100%
    ),
    (
        "name": "javascript",
        "color": #EFDA5B,
        "level": 100%
    ),
    (
        "name": "jquery",
        "color": #3b66d3,
        "level": 100%
    ),
    (
        "name": "seo",
        "color": #123123,
        "level": 100%
    ),
    (
        "name": "php",
        "color": #9984c0,
        "level": 100%
    ),
    (
        "name": "mysql",
        "color": #123123,
        "level": 100%
    ),
    (
        "name": "photoshop",
        "color": #98ddf6,
        "level": 100%
    ),
    (
        "name": "indesign",
        "color": #f690bd,
        "level": 100%
    ),
    (
        "name": "illustrator",
        "color": #fd9e49,
        "level": 100%
    ),
    (
        "name": "premiere-pro",
        "color": #E496FF,
        "level": 100%
    ),
    (
        "name": "git",
        "color": #522C79,
        "level": 100%
    ),
    (
        "name": "terminal",
        "color": #123123,
        "level": 100%
    ),
    (
        "name": "node",
        "color": #90C541,
        "level": 100%
    )
);
