.markdown {
  @apply text-gray-200;
  @apply text-lg;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h1 {
    color: red; /* dont use h1 in post content */
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 1.5em;
    margin-top: 3em;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  a {
    @apply link;
  }

  ol,
  ul,
  p {
    margin-bottom: 1.5em;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-bottom: 0.5rem;
  }

  pre {
    @apply text-base;

    mark {
      color: inherit;
      @apply bg-gray-700;
    }
  }
}
