.markdown {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  h2,
  h3 {
    @apply font-bold leading-tight;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply text-xl mb-4 leading-relaxed;
  }

  li {
    @apply text-lg mb-2 leading-relaxed;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol,
  ul {
    @apply mb-4 pl-4;

    ol,
    ul {
      @apply ml-4 my-2;
    }
  }
}

.markdown--base {
  p {
    @apply text-base;
  }
}
