@import './markdown.css';
@import './forms.css';

@tailwind base;
@tailwind components;

.title {
  @apply text-3xl font-medium leading-tight mb-4;
}

.intro {
  @apply text-xl mb-8 text-gray-500;
}

.btn {
  @apply py-3 px-4 text-lg font-medium text-red-500;
  @apply border border-red-500;
  @apply transition-colors duration-100;

  &:hover {
    @apply bg-transparent;
  }
}

.btn--outline {
  @apply bg-transparent text-black;

  &:hover {
    @apply bg-black text-white;
  }
}

.link {
  @apply border-b border-purple-400 inline-block transition-colors duration-100 text-purple-500 font-bold hover:bg-purple-400 hover:text-gray-800;
}

svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
}

@tailwind utilities;
