<footer class="py-6 mx-auto container max-w-2xl">
  <div class="container ">
    <div class="p-8 rounded-lg bg-gray-800 text-gray-400 text-xl mb-16">
      <p>
        Have a project I can help with?
        <br />Send me an email &mdash;
        <a href="mailto:{{site.email}}" class="mailtoui link">{{site.email}}</a>
      </p>
    </div>
    <p class="">
      Site built with Eleventy and Tailwind &mdash;
      <a href="{{site.repo}}" class="link">View on GitHub</a>
    </p>
  </div>
</footer>
