<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeb Pykosz | Designer and Developer based in Middlebury, Vermont</title>
    <meta name="author" content="Zebhdiyah Avery Pykosz">
    <meta name="description" content="Portfolio of freelance web developer and designer based in Middlebury, Vermont - passionate about internet things">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="Zeb Pykosz | Designer and Developer based in Middlebury, Vermont">
    <meta property="og:description" content="Portfolio of freelance web developer and designer based in Middlebury, Vermont - passionate about creating nice, clean, and usable things on the internet.">
    <meta property="og:site_name" content="Zeb Pykosz">
    <meta property="og:image" content="http://zebpykosz.com/img/zeb.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://zebpykosz.com">
    
    <!-- Twitter card -->
    <meta name="twitter:image" content="http://zebpykosz.com/img/zeb.jpg">
    <meta name="twitter:title" content="Zeb Pykosz | Designer and Developer based in Middlebury, Vermont">
    <meta name="twitter:description" content="Portfolio of freelance front-end web developer and designer based in Middlebury, Vermont - passionate about creating nice, clean, and usable things on the internet.">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>
</head>