<header class="global-header">
    <a href="/" class="header-item brand" title="Zebhdiyah A Pykosz">ZAP</a>
    <input type="checkbox" class="menu-handler" id="menu-handler">
    <label for="menu-handler" class="header-item hamburger">&#9776;</label>
    <nav class="global-nav" id="menu">
        <a href="#home" class="header-item">Home</a>
        <a href="#about" class="header-item">About</a>
        <a href="#work" class="header-item">Work</a>
        <a href="#contact" class="header-item">Contact</a>
    </nav>
</header>