.footer {
    background: $brand-gray;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $brand-gray-light;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 3em;
}

.footer-item {
    margin: 20px 0;
}