.footer {
    background: $brand-gray;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $brand-gray-light;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 3em;

    a {
        color: $brand-gray-light;
        @include ease();

        &:hover {
            color: $brand-gray-x-light;
        }
    }
}

.footer-item {
    margin: 20px 0;
}