*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'open sans', helvetica, arial, sans-serif;
}

a {
    color: $brand-blue;
    text-decoration: none;
    border-bottom: 1px solid $brand-blue;

    &:hover {
        color: $brand-blue-dark;
        border-color: $brand-blue-dark;
    }
}

img {
    max-width: 100%;
    height: auto;
}