*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #fff;
    font-family: $font-sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}

a {
    color: $brand-blue;
    text-decoration: none;
    // border-bottom: 1px solid $brand-blue;

    &:hover {
        color: $brand-blue-dark;
        // border-color: $brand-blue-dark;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-sans-serif;
}

p {
    font-family: $font-serif;
}

img {
    max-width: 100%;
    height: auto;
}
