$breakpoints: (
    "sm": $small,
    "md": $medium,
    "lg": $large,
);

$grid-prefix: 'col' !default;
$grid-columns: 12;
$grid-gutter-width: 30px;

@if ($grid-prefix != '') {
    $grid-prefix: "#{$grid-prefix}-";
}

.row {
    @include clearfix();
}

.wrap {
    width: 80%;
    max-width: em(1000);
    margin-left: auto;
    margin-right: auto;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    position: relative;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {

    @include media($breakpoint-size) {

        @for $index from 1 to $grid-columns {
    
            .#{$grid-prefix}#{$breakpoint-name}-#{$index} {
                width: percentage(($index / $grid-columns));
            }
            
        }

    }

}