.header {
    @include clearfix();
    // background: $brand-gray;
    padding: 20px 0;
    // position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;

    a {
        color: $brand-gray;
        border: 0;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 14px;
    }
}

.header-title {
    float: left;
    font-weight: 700;
}

.header-nav {
    float: right;
    font-weight: 300;
}

