.clearfix {
    @include clearfix();
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.lead {
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
}

.normal {
    font-weight: normal;
}

.center {
    display: table-cell;
    vertical-align: middle;
}

.ib {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

$scale: 16px;
$scale-amount: 3;

$scale-types: (
    "m": ("margin"),
    "mt": ("margin-top"),
    "mb": ("margin-bottom"),
    "mtb": ("margin-top", "margin-bottom"),
);

@for $i from 0 through $scale-amount {

    $size: $i * $scale;

    @each $type-name, $declarations in $scale-types {

        .#{$type-name}#{$i} {
   
            @each $declaration in $declarations {
                #{$declaration}: $size;
            }

        }

    }

}