.clearfix {
    @include clearfix();
}

.normal {
    font-weight: normal;
}

.center {
    display: table-cell;
    vertical-align: middle;
}

.ib {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}