#instafeed {
    text-align: center;
    margin: 100px 0;

    a {
        overflow: hidden;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: inline-block;
        margin: 20px;
    }
}