.nav {
    
}

.nav-main {
    @include clearfix();

    > li {
        float: left;

        & + li {
            margin-left: 30px;
        }
    }
}

.nav-social {
    margin-bottom: 40px;

    > li {
        margin: 20px 0;

        @include media($large) {
            margin: 0 20px;
            display: inline-block;
        }
    }
}

.nav-justify {
    li {
        display: table-cell;
        width: 1%;
    }
}