.projects-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include clearfix();
}

.projects-list-item {
    width: 100%;
    height: 250px;
    overflow: hidden;
    // border-radius: 50%;

    @include media($medium) {
        width: 50%;
        float: left;
    }

    @include media($large) {
        width: 33.3333%;
    }
}
