// Media sizes
$small: 400px;
$medium: 600px;
$large: 700px;

// Fonts

$font-sans-serif: montserrat, 'helvetica neue', helvetica, sans-serif;
$font-serif: cardo, georgia, 'times new roman', serif;

// Colors
$brand-blue: #7cd5ff;
$brand-blue-dark: darken($brand-blue, 25%);

$brand-red: #e06161;
$brand-red-dark: darken($brand-red, 25%);

$brand-gray: #333;
$brand-gray-dark: darken($brand-gray, 25%);
$brand-gray-light: lighten($brand-gray, 25%);
$brand-gray-x-light: lighten($brand-gray, 50%);

$brand-white: #f4f4f4;

// Button sizes

$buttons: (
    x-large: 24,
    large: 18,
    medium: 16,
    small: 14
);

$skills: (
    html #e3544d,
    css #468bd3,
    sass #d685cf,
    javascript #f0e77d,
    jquery #3b66d3,
    seo #123123,
    php #9984c0,
    mysql #123123,
    photoshop #98ddf6,
    indesign #f690bd,
    illustrator #fd9e49,
    premiere-pro #123123,
    git #123123,
    terminal #123123
);