$palettes: (
    primary: (
        base: #7cd5ff, 
        dark: #6dbbe0
    ),
    
    secondary: (
        base: #333, 
        dark: #292929,
        light: #c6c6c6
    ),

    tertiary: (
        base: #f4f4f4,
        dark: #959595
    )
);

$buttons: (
    x-large: 24,
    large: 18,
    medium: 16,
    small: 14
);

$skills: 
    html #e3544d,
    css #468bd3,
    sass #d685cf,
    javascript #f0e77d,
    jquery #3b66d3,
    seo #123123,
    php #9984c0,
    mysql #123123,
    photoshop #98ddf6,
    indesign #f690bd,
    illustrator #fd9e49,
    premiere-pro #123123,
    git #123123,
    terminal #123123
    
;