
// Colors
$brand-blue: #7cd5ff;
$brand-blue-dark: darken(#7cd5ff, 25%);

$brand-gray: #333;
$brand-gray-dark: darken(#333, 25%);
$brand-gray-light: lighten(#333, 25%);

$brand-white: #f4f4f4;

// Button sizes

$buttons: (
    x-large: 24,
    large: 18,
    medium: 16,
    small: 14
);

$skills: (
    html #e3544d,
    css #468bd3,
    sass #d685cf,
    javascript #f0e77d,
    jquery #3b66d3,
    seo #123123,
    php #9984c0,
    mysql #123123,
    photoshop #98ddf6,
    indesign #f690bd,
    illustrator #fd9e49,
    premiere-pro #123123,
    git #123123,
    terminal #123123
);