h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: $tracking-tighest;
}

h1 {
  font-size: $text-4xl;
  margin-bottom: $space-6;

  @include media(md) {
    font-size: $text-6xl;
  }
}

h2 {
  font-size: $text-2xl;
  margin-bottom: $space-4;

  @include media(md) {
    h2 {
      font-size: $text-3xl;
    }
  }
}

svg {
  fill: currentColor;
}
