.header {
  padding: $space-4;
  background: linear-gradient(top right, $primary, $secondary);

  @include media(lg) {
    // background: linear-gradient(bottom left, $primary, $secondary);
    height: 100vh;
    width: $header-width;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include media(xl) {
    width: $header-width-lg;
  }
}

.header-logo {
  font-weight: bold;
  font-size: $text-2xl;
  align-self: flex-start;
}

.nav {
}

.nav-list {
  display: flex;
  margin-left: -$space-3;

  @include media(lg) {
    display: block;
  }
}

.nav-item {
  &:not(:last-child) {
    @include media(lg) {
      margin-bottom: $space-3;
    }
  }
}

.nav-link {
  font-weight: bold;
  display: block;
  padding: $space-3;
  font-size: $text-xl;

  @include media(lg) {
    font-size: $text-5xl;
    text-align: right;
  }
}

.nav-link {
  transition: transform 0.2s;
  position: relative;

  &:hover,
  &:focus {
    @include media(lg) {
      transform: translateX(-1rem);

      .slide-letter {
        // animation: slideUpDown 1s infinite alternate;
        // animation-fill-mode: both;
      }
    }
  }
}

.nav-link--active {
  @include media(lg) {
    transform: translateX(-1rem);
  }
}

.nav-arrow {
  transform: rotate(90deg) translateX(-50%);
  transform-origin: left;
  position: absolute;
  top: calc(100% + #{$space-2});
  left: 50%;
  height: 24px;
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;

  @include media(lg) {
    left: 100%;
    top: 50%;
    height: auto;
    transform: translateY(-50%);
  }

  .nav-link--active & {
    visibility: visible;
    opacity: 1;
  }
}
