.layout {
}

.layout-main {
  @include media(lg) {
    margin-left: 400px;
  }
}

.main {
  padding: $space-24;
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
}

.footer {
  padding: $space-24 $space-8;
  background: $black;
  color: $white;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $text-xl;
}
