.layout {
}

.layout-main {
  @include media(lg) {
    margin-left: 400px;
  }
}

.main {
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  padding: $space-8;

  @include media(lg) {
    padding: $space-24;
  }
}
