.markdown {
  p {
    margin-bottom: $space-4;

    @include media(md) {
      font-size: $text-2xl;
    }
  }

  h3:not(:first-child) {
    margin-top: $space-4;
  }

  h3 {
    margin-bottom: $space-3;
  }
}
