.social {
  display: flex;
  align-items: center;

  li {
    // margin-right: $space-6;
  }

  img {
    display: block;
  }

  a {
    opacity: 0.5;
    transition: opacity 0.2s;
    display: block;
    padding: $space-3;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.social--footer {
  @include media(lg) {
    display: none;
  }
}

.social--header {
  display: none;

  @include media(lg) {
    display: flex;
    align-self: flex-start;
  }
}
