@import 'base/functions';
@import 'base/mixins';
@import 'base/variables';

@import 'base/global';

@import 'components/header';
@import 'components/footer';
@import 'components/container';
@import 'components/buttons';
@import 'components/forms';
@import 'components/hero';
@import 'components/page-head';
@import 'components/skill-list';
@import 'components/social';
@import 'components/section';
@import 'components/work';
@import 'components/cursor';

/* focuses */

.focuses {
  border: 4px solid $red;
  padding: $space5;
  margin-bottom: $space4;
  grid-gap: $space3;
  display: grid;

  @include media(md) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

.focuses-title {
  margin-bottom: $space5;
}

.focus {
}

.focus-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $f3;
  font-family: $font-sans;
  margin-bottom: $space2;
  font-weight: $font-semibold;
}

.grid-lines {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.grid-lines-item {
  border-left: 1px solid $gray-light;
  flex: 1;

  &:last-child {
    border-right: 1px solid $gray-light;
  }
}
