@import 'base/functions';
@import 'base/mixins';
@import 'base/variables';

@import 'base/global';

@import 'components/header';
@import 'components/footer';
@import 'components/container';
@import 'components/buttons';
@import 'components/forms';
@import 'components/hero';
@import 'components/page-head';
@import 'components/page-actions';
@import 'components/skill-list';
@import 'components/social';
@import 'components/section';
@import 'components/work';
@import 'components/cursor';
@import 'components/page-actions';

/* focuses */

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.focuses {
  border: 4px solid $red;
  padding: $space5;
  margin-bottom: $space4;
  grid-gap: $space3;
  display: grid;

  @include media(md) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

.focuses-title {
  margin-bottom: $space5;
}

.focus {
}

.focus-title {
  // text-transform: uppercase;
  // letter-spacing: 0.1em;
  font-size: $f5;
  letter-spacing: $tracking-narrow;

  // font-family: $font-sans;
  margin-bottom: $space2;
  // font-weight: $font-semibold;
}

.grid-lines {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.grid-lines-item {
  border-left: 1px solid $gray-light;
  flex: 1;

  &:last-child {
    border-right: 1px solid $gray-light;
  }
}

.link {
  display: inline-block;
  border-bottom: 2px solid $primary;
}

.work-meta-list {
}

.about-grid {
  @include media(lg) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.about-pic {
  text-align: center;
  @include media(md) {
    padding-left: $space9;
  }
}

.diamond-pic {
  transform: rotate(45deg);
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 8px 8px 0 $primary;

  @include media(md) {
  }

  img {
    object-fit: contain;
    position: absolute;
    top: -50%;
    filter: grayscale(100%);
    transform: rotate(-45deg);
  }
}

.about-content {
  p {
    font-size: $f5;
  }
}

@keyframes reveal {
  from {
    max-width: 0;
    overflow: hidden;
  }
  to {
    max-width: 9999px;
  }
}

.reveal {
  max-width: 0;
  animation: reveal 1s;
}
