.btn {
  @apply inline-flex items-center gap-2;
  @apply font-bold px-5 py-2 rounded-full;
  @apply bg-purple-400 text-purple-900 transition-colors;
  @apply hover:bg-purple-300 hover:text-purple-600;
  @apply active:top-1 relative;
}

.text-intro {
  @apply text-2xl leading-snug text-gray-300 mb-6;
}

.text-body {
  @apply text-2xl leading-relaxed;
}

.h1 {
  @apply text-6xl font-bold;
  @apply text-purple-100;
  margin-bottom: 0.25em;
}

.h2 {
  @apply text-3xl font-bold;
  @apply text-purple-100;
  margin-bottom: 1em;
}

.h3 {
  @apply text-2xl font-bold;
  @apply text-purple-100;
  margin-bottom: 0.5em;
}

.h4 {
  @apply text-lg font-bold;
  @apply text-gray-500;
  @apply uppercase tracking-widest;
  margin-bottom: 0.25em;
}

p > a,
.link {
  @apply text-purple-400 border-b-2 border-purple-400 transition-colors;
  @apply hover:text-purple-100 hover:border-purple-100;
}

.form-item {
  @apply mb-6;
}

.label {
  @apply block mb-2 text-lg font-semibold text-gray-400;
}

.input {
  @apply block w-full px-4 py-2 rounded;
  @apply bg-gray-800 text-lg text-white;
  @apply focus:outline-none focus:ring-2 focus:ring-purple-400;
}

textarea {
  min-height: 6rem;
  resize: vertical;
}
