<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{site.summary}}" />
  <title>{{title}}{% if title %} - {% endif %}{{site.name}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
  {% if head_link %}
  <link rel="stylesheet" href="{{head_link}}">
  {% endif %}
</head>

<body class="bg-gray-900 text-gray-400">
  {% include header.html %}
  <main class="container">
    {{ content | safe }}
  </main>
  {% include footer.html %}
</body>

</html>
