---
nav:
  - url: /
    text: Hello
  - url: /about
    text: About
  - url: /work
    text: Work
  - url: /contact
    text: Contact
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{site.summary}}" />
    <title>{{title}}{% if title %} - {% endif %}{{site.name}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-gray-900 text-gray-400">
    <div class="container">
      <div class="lg:flex lg:py-20">
        <div class="lg:w-2/6">{% include header.html %}</div>
        <div class="lg:w-4/6 lg:pl-20">
          <main class="mb-20">{{ content | safe }}</main>
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
