---
layout: layouts/base.html
---

<article class="max-w-2xl mx-auto">

  <header class="py-16">
    <nav class="mb-2">
      <a href="/blog" class="btn btn-alt">&larr; All posts </a>
    </nav>
    <h1 class="h1">{{title}}</h1>
    <p class="lead">{{intro}}</p>

    <p>
      <span>
        Posted <time>{{date |date: "%b %d, %Y"}}</time>
      </span>
      <span>
        &bull;
      </span>
      <span>
        {% for tag in categories %}
        <a href="/blog/{{tag}}" class="text-purple-400 underline inline-block mr-1">
          #{{tag}}
        </a>
        {% endfor %}
      </span>
    </p>
  </header>

  <div class="markdown">
    {{content | safe}}
  </div>
</article>
