.bg-light {
    background: $white;
}

.bg-gray {
    background: $gray;
    // color: $white;
}

.bg-gray-dark {
    background: $gray-dark;
    // color: $white;
}

.bg-primary {
    background: $brand-primary;
    // color: $white;
}