.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.center-md {
    @include media($medium) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
}