---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<section>
  <div class="container">
    <header class="px-4">
      <h2 class="mb-4 font-bold text-xl">{title}</h2>
      <p>{text}</p>
    </header>
    <slot />
  </div>
</section>
