---
import Layout from "../../layouts/Main.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title={"projects"} description={"all projects"}>
  <h1>Projects</h1>
  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={`/projects/${project.id}`}>
            <h2>{project.data.title}</h2>
          </a>
          {/* <p>{project.description}</p> */}
        </li>
      ))
    }
  </ul>
</Layout>
