$browser-close: #FFADAD;
$browser-minimize: #FFF9AD;
$browser-expand: #C2FFAD;
$browser-border-width: 2px;
$browser-border-color: $brand-secondary-dark;

.browser {
    border: $browser-border-width solid $browser-border-color;
    border-radius: 10px;
    overflow: hidden;
    // box-shadow: 5px 5px 0 5px rgba($black, .05);
    display: inline-block;
    transition: .8s;
}

.browser-toolbar {
    position: relative;
    border-bottom: $browser-border-width solid $browser-border-color;
    padding: 10px;
    // background: #fff;
}

.browser-icons {
    position: relative;

    &,
    &:before,
    &:after {
        width: 10px;
        height: 10px;
        border-radius: 10em;
        display: block;
    }

    & {
        background: tomato;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 0;
    }

    &:after {
        background: lightgreen;
        left: 30px;
    }

    &:before {
        background: gold;
        left: 15px;
    }

}

.browser-viewport {
    max-height: 60%;
    overflow: hidden;

    img {
        display: block;
    }
}