.btn {
    display: inline-block;
    padding: 1em 2em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
}

.btn-primary {
    color: $black;
    background: $brand-primary;
    border-color: $brand-primary;

    &.btn-outline {
        background: none;
        color: $brand-primary;

        &:hover,
        &:focus {
            background: $brand-primary;
            color: $white;
        }
    }
}

.btn-white {
    color: $black;
    background: $white;

    &.btn-outline {
        border-color: $white;
        color: $white;
        background: none;

        &:hover,
        &:focus {
            color: $black;
            background: $white;
            border-color: $white;
        }

        &:active {
            border-color: $black;
        }
    }
}

.btn-black {
    color: $white;
    background: $black;
    border-color: $black;

    &:hover {
        color: $black;
        border-color: $black;
        background: $white;
    }

    &.btn-outline {
        background: none;
        color: $black;
    }
}

.btn-sm {
    font-size: 12px;
    padding: .5em 1em;
}