.btn {
    display: inline-block;
    font-size: 14px;
    // @include spacecase();
    text-align: center;
    border: 4px solid transparent;
    border-radius: 0;
    padding: 1em 2em;
    transition: .2s;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.btn-primary {
    color: $white;
    background: $brand-primary;
    // border-color: $brand-primary;

    &:hover {
        color: $white;
        background: $brand-primary-dark;
    }

    &.btn-outline {
        background: none;
        color: $brand-primary;

        &:hover,
        &:focus {
            background: $brand-primary;
            color: $white;
        }
    }
}

.btn-secondary {
    color: $black;
    background: $brand-secondary;
    border-color: $brand-secondary-dark;

    &:hover {
        background: $brand-secondary-dark;
    }

    &.btn-outline {
        background: none;
        color: $brand-primary;

        &:hover,
        &:focus {
            background: $brand-primary;
            color: $white;
        }
    }
}