$slide-quantity: 4;
$slide-delay: 4s;
$slide-transition-speed: 1s;
$slide-duration: $slide-delay + $slide-transition-speed;
$slide-period: $slide-duration * $slide-quantity;

.carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 100%;
}

.carousel-item {
    opacity: 0;
    animation: carousel $slide-period linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    transform: translate3d(0, 0, 0);

    @for $i from 2 through $slide-quantity {
        &:nth-child(#{$i}) {
            animation-delay: ($i * $slide-duration - 5s);
        }
    }
}

@keyframes carousel {

    0% {
        transform: scale(1);
    }

    0%, 30%, 100% { 
        opacity: 0;
    }

    5%, 25% {
        opacity: 1;
    }

    30% {
        transform: scale(1.1);
    }
}