.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 16px;
    padding: 1em;
    background: $white;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 2px solid $brand-primary;
    transition: border-color .2s;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
        border-color: $brand-primary-dark;
    }

    &:focus {
        border-color: $black;
        outline: 0;
    }

    @at-root textarea#{&} {
        min-height: 200px;
    }
}

.form-actions {
    @include clearfix();

    .btn {
        float: right;
    }
}