.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 16px;
    padding: 1em;
    background: $white;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    transition: box-shadow .2s;
    -webkit-appearance: none;
    appearance: none;

    &:focus,
    &:hover {
        outline: 0;
        box-shadow: 0 0 10px rgba($black, .25);
    }

    @at-root textarea#{&} {
        min-height: 200px;
    }
}

.form-actions {
    @include clearfix();

    .btn {
        float: right;
    }
}