$iphone-border-width: 2px;
$iphone-border-color: $brand-secondary-dark;

.iphone {
    display: inline-block;
    border: $iphone-border-width solid $iphone-border-color;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
    }

    &:before {
        background: $iphone-border-color;
        width: 20px;
        height: 4px;
        top: 30px;
        left: 50%;
        margin-left: -10px;
    }

    &:after {
        border: $iphone-border-width solid $iphone-border-color;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        left: 50%;
        bottom: 20px;
        margin-left: -15px;
    }
}

.iphone-screen {
    margin: 60px 0;
    border-top: $iphone-border-width solid $iphone-border-color;
    border-bottom: $iphone-border-width solid $iphone-border-color;
    max-height: 400px;
    overflow: hidden;

    img {
        display: block;
    }
}