.project {
    @include clearfix();
    background: $white;
    width: 100%;
    border-bottom: 4px solid transparent;
    margin: 3em 0;
    padding: 2em;
    transition: .2s;
}

.project-loading {
    position: relative;

    &:before {
        content: '';
        display: block;
        background: $brand-secondary-dark;
        height: 4px;
        position: absolute;
        left: 0;
        top: 0;
        animation: loading 10s infinite;
    }
}

.project-loaded {
    box-shadow: 0 0 10px rgba($black, .2);


}

.project-btn {

    .open-text {
        display: block;

        .project-loaded & {
            display: none;
        }
    }

    .close-text {
        display: none;
        
        .project-loaded & {
            display: block;
        }
    }
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.project-media {

    @include media($medium) {
        float: left;
        width: 40%;
        transition: .8s;

        &:hover .browser {
            transform: rotateY(5deg) translate3d(-10px, -5px, 0);
            box-shadow: 10px 5px 5px rgba($black, .1);
        }
    }
}

.project-anchor {
    
}

.project-image {
    // padding: 2em;
    // background: $white;
}

.project-summary {
    transition: opacity .8s;

    .project-loading & {
        opacity: .2;
    }
}

.project-title {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
}

.project-tags {
    color: $gray-light;
}