.project {
    position: relative;
    background: $black;
    // border: 5px solid transparent;
}

.project-anchor {}

.project-image {
    position: absolute;
    z-index: 2;
    opacity: .2;
    transition: transform 10s ease-in;
    transform: rotate(-5deg) translate(-50%);
    max-width: 200%;
    left: 50%;
    top: -50%;

    .project:hover & {
        transform: rotate(-5deg) translate(-50%) scale(1.1);
    }
}

.project-content {
    @include center();
    text-align: center;
    color: $white;
    z-index: 3;
}

.project-title {

    .project:hover & {
        text-decoration: underline;
    }
}