.project {
    @include clearfix();
    margin: 3em 0;
    perspective: 1000px;
    background: $white;
    padding: 2em;
    width: 100%;
}

.project-media {

    @include media($medium) {
        float: left;
        width: 40%;
        transition: .8s;

        &:hover .browser {
            transform: rotateY(5deg) translate3d(-10px, -5px, 0);
            box-shadow: 10px 5px 5px rgba($black, .1);
        }
    }
}

.project-anchor {
    
}

.project-image {
    // padding: 2em;
    // background: $white;
}

.project-content {
    @include media($medium) {
        float: left;
        padding: 0 2em;
    }
    // width: 70%;
}

.project-title {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
}

.project-tags {
    color: $gray-light;
}