.social-list {
    // text-align: center;
}

.social-item {
    margin-bottom: 20px;
}

.social-anchor {
  
    border-bottom: 2px solid $brand-secondary-dark;

    &:hover {
        border-color: $brand-primary;
    }
}