---
title: Frontend developer
front: true

roles:
  - text: |
      Currently: Front-end engineer at
    link: https://faraday.io
    place: Faraday.io

  - text: 'Previously: Web developer at'
    place: Middlebury College
    link: https://www.middlebury.edu

  - text: Creator of
    place: Fateseal
    link: https://fateseal.com

btns:
  - text: View my work
    url: /work
    primary: true
  - text: About me
    url: /about
  - text: Have a project? Get in touch
    url: /contact
---

<section class="py-8 lg:py-32 container">
  <div class="mb-8">
    <img src="{{site.pic}}" alt="{{site.pic_alt}}" class="rounded-full mb-6" />
    <p class="h1">Hi there, I'm Zeb Pykosz</p>
    <p class="lead">{{site.summary}}</p>
  </div>
  <ul class="list-disc pl-6 text-lg">
    {% for item in roles %}
    <li>
      {{item.text}}
      <a href="{{item.link}}" class="link"
        >{{item.place}} {% include icons/external-link.svg %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<!-- todo sections

- hero with about cta
- some work pieces / side projects teased
- few blog posts
- contact stuff -->
