---
title: Frontend developer

roles:
  - text: Web developer at
    place: Middlebury College
    link: https://www.middlebury.edu

  - text: Creator of
    place: Fateseal
    link: https://fateseal.com

btns:
  - text: View my work
    url: /work
    primary: true
  - text: About me
    url: /about
  - text: Have a project? Get in touch
    url: /contact
---

<div class="py-8 lg:py-32 container">
  <img src="{{site.pic}}" alt="{{site.pic_alt}}" class="rounded-full mb-6" />
  <h1 class="title">{{site.name}}</h1>
  <p class="text-xl">{{site.summary}}</p>
  <ul>
    {% for item in roles %}
    <li>
      {{item.text}}
      <a href="{{item.link}}"
        >{{item.place}} {% include icons/external-link.svg %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
