.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.container-narrow {
    max-width: 33em;
}

.container-liquid {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
