.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.container-liquid {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    @include clearfix();
}

.col {
    float: left;
    padding-left: 10%;
    padding-right: 10%;
}

.col--half {
    width: 50%;
}