.section {
    // @include clearfix();
    display: table;
    // float: left;
    margin: 1em 0;

    @include media($medium) {
        margin: 4em 0;
    }
}

.section-half {
    @include media($medium) {
        width: 50%;
        float: left;
    }
}

.section-third {
    @include media($medium) {
        width: 32%;
        float: left;
    }
}

.section-two-thirds {
    @include media($medium) {
        width: 66%;
        float: left;
    }
}

.section-header {
    border-bottom: 4px solid $brand-secondary-dark;
    padding: 2em;

    @include media($medium) {
        display: table-cell;
        width: 200px;
        border-bottom: 0;
        vertical-align: top;
        padding: 0 2em;
    }
}

.section-title {
    text-align: left;

    @include media($medium) {
        font-size: 14px;
        font-weight: normal;
        text-align: right;
    }
}

.section-content {
    padding: 2em;

    @include media($medium) {
        border-left: 4px solid $brand-secondary-dark;
        // float: left;
        display: table-cell;
        // width: 70%;
    }
}