*,
*:before,
*:after {
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background: $black;
}

::selection {
  color: $white;
  background: $black;
}

html,
body {
  height: 100%;
}

body {
  background: $body-bg;
  color: $black;
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

a {
  color: $gray;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $gray-dark;
  }

  p &,
  h1 &,
  h2 & {
    // display: inline-block;
    border-bottom: 2px solid $brand-secondary-dark;

    &:hover {
      border-color: $brand-primary;
    }
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  img {
    display: block;
  }
}

img {
  max-width: 100%;
  height: auto;
}
