* {
  box-sizing: border-box;
}

body {
  line-height: $lh-body;
  font-size: $f3;
  background: $white;
  color: $black;
  font-family: $font-sans;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  min-height: 15rem;
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: $lh-heading;
  font-family: $font-serif;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
