$font-size-base: 16px;

$breakpoints: (
  sm: 500px,
  md: 700px,
  lg: 1000px,
  xl: 1200px
);

$white: #fff;
$black: #000;
$red: #9a3c47;
$gray-light: #f6f6f6;
$gray: #999;

$lh-solid: 1;
$lh-heading: 1.4;
$lh-body: 1.8;

$font-normal: 500;
$font-semibold: 600;
$font-bold: 700;

$f1: rem(12px);
$f2: rem(14px);
$f3: rem(16px);
$f4: rem(18px);
$f5: rem(24px);
$f6: rem(32px);
$f7: rem(48px);
$f8: rem(64px);

$space0: 0;
$space1: rem(4px);
$space2: rem(8px);
$space3: rem(16px);
$space4: rem(24px);
$space5: rem(32px);
$space6: rem(48px);
$space7: rem(64px);
$space8: rem(96px);
$space9: rem(128px);

$font-sans: 'open sans', 'arial', 'helvetica', sans-serif;
$font-serif: 'merriweather', georgia, 'times new roman', serif;
